<!doctype html>
<head>
  <meta charset="utf-8" />
    <title>CookingMainPage</title>
  <!-- stylesheets -->
  <!-- <link rel="stylesheet" href="css/styles.css" /> -->
</head>
<body>
  <h1 id="Header">Cooking Done Simple</h1>
<div id="SearchArea">
  <h3 id="SearchBar"> Everything you need</h3>
  <h4 id="TabTitle"> Recipes by Place: </h4>
  <h5 id="Tab"> American </h5>
  <h5 id="Tab"> Mexican </h5>
  <h5 id="Tab"> South American </h5>
  <h5 id="Tab"> European </h5>
  <h5 id="Tab"> Middle Eastern </h5>
  <h5 id="Tab"> Indian </h5>
  <h5 id="Tab"> Chinese </h5>
  <h5 id="Tab"> Northern Asian </h5>
  <h5 id="Tab"> Southeast Asian </h5>
  <h4 id="TabTitle"> Recipes by Category: </h4>
  <h5 id="Tab"> Breakfast </h5>
  <h5 id="Tab"> Lunch </h5>
  <h5 id="Tab"> Appatizers </h5>
  <h5 id="Tab"> Dinner </h5>
  <h5 id="Tab"> Dessert </h5>
  <h5 id="Tab"> Snack </h5>
  <h5 id="Tab"> Bento </h5>
  <h5 id="Tab"> Drinks </h5>
  <h5 id="Tab"> Sauces/Condiments </h5>
  <h4 id="TabTitle"> Recipes by Alphabetical Order </h4>
  <h3 id="SearchBar"> Everything you Want </h3>
  <h4 id="TabTitle"> Cooking Basics </h4>
  <h4 id="TabTitle"> Ingredient Basics </h4>
  <h4 id="TabTitle"> Eating Healthy Fundamentals </h4>
  <h4 id="TabTitle"> The Gadget List </h4>
  <h3 id="SearchBar"> With a little Extra </h3>
  <h4 id="TabTitle"> Contact the Chef </h4>
  <h4 id="TabTitle"> Submit A Recipe </h4>
</div>
<div id="RecipeDisplay">
  <h2 id="RecipeHeader"> Recipes </h2>
  <a href="myfile.htm"><img src="stock.jpg"></a>
  <h4 id="title"> The title of recipe </h4>
  <p id="ShortDes"> A short Description Of a Recipe</p>
  <a href=""><img src="stock.jpg"></a>
  <h4 id="title"> The title of recipe </h4>
  <p id="ShortDes">HAnother short Description</p>
</div>
<div id="Special">
  <h3 id="Feat"> Recipe of the Day </h3>
  <h4 id="title2"> The title of recipe</h4>
  <a href=""><img src="stock.jpg"></a>
  <h3 id="Feat"> Recipe of the Week </h3>
  <h4 id="title2"> The title of the recipe </h4>
  <a href=""><img src="stock.jpg"></a>
  <h3 id="Feat"> Recipe of the Month </h3>
  <h4 id="title2"> The title of the recipe </h4>
  <a href=""><img src="stock.jpg"></a>
  <!-- js -->
</div>
</body>
</html>
{#     <select class="form-control" ng-model="comment.rating" ng-options="[5,4,3,2,1]" title="rating">#}
{#          <option value>Rate this Recipe</option>#}
{#        </select>#}
{#        </fieldset>#}
{#        <fieldset class="form-group">#}
{#        <textarea class="form-control"  ng-model="newComment.body" placeholder="Write a short review of the recipe..." title="Review">#}
{#        </textarea>#}
{#        </fieldset>#}
{#        <fieldset class="form-group">#}
{#         <input ng-model="comment.name" type="text" class="form-control" placeholder="Your Name here" title="Name" />#}
{#        </fieldset>#}
{#        <fieldset class="form-group">#}
{#         <input type="submit" class="btn btn-primary pull-right" value="Submit Review" ng-submit="addComment()"/>#}
{#         </fieldset>#}
{#        </form>#}
{#    </div>#}